*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: 16px;
    
}
#box{
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
}

#title{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding:0 15px 0 15px ;
    
}
#title h1{
    font-size: xxx-large;
    color: #173b6c	 ;

}
a>i{

    background-color: #149ddd;
    padding: 10px;
    border-radius: 50%;
    color: aliceblue;
}

/* #title h1::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
} */


#projects{
    /* height: 100%; */
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px;
    justify-content: space-between;
}
#left{
    display: grid;
    grid-template-columns: auto;
    grid-row-gap:10px ;
    font-size: large;

}

#left h1{
    font-size:26px;
    

    
}
#left h3{
    font-size: 18px;
    padding-left: 12px;
    
}

#list{
    padding-left: revert;
    position: relative;
    /* padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative; */
    
}
.list{
    padding: 0 0 20px 20px;

    
    border-left: 2px solid #1f5297;
    position: relative;
    margin: 0;
}

.list_point{
    /* padding: 0 0 20px 20px; */
    margin-top: -2px;
    margin-bottom: 0;
    border-left: 2px solid #1f5297;
    position: relative;
}

.list_point::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 2px;
    background: #fff;
    border: 2px solid #1f5297;
}

#right{
    padding-left: 10%;
}
.download-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}



@media (max-width: 800px) {
    #box{
        width: 100vw;
        
    }
    
    #title{
        margin-top: 30px;
        width: 100vw;
    }
    #projects{
        /* height: 100%; */
        width: 100vw!important;
        display: grid;
        grid-template-columns: 100%;
        padding: 20px;
        justify-content: space-between;
    }
    #right{
        padding-left: 0%!important;
        /* padding-right: 20px; */
    }
/* sundar code */
    #video , #video > a{
        width: 100%;
    }
    #video>a>iframe{
        width:100%;
    }

}
